<template>
  <button class="cn-button cn-text cn-text--lead is-dark is-bold"
    :class="[
      `cn-button--${theme}`,
      `cn-button--${size}`
    ]"
    @click="$emit('click', $event)"
  >
    <slot></slot>
  </button>
</template>

<script>
  export default {
    props: {
      theme: {
        type: String,
        default: 'primary' // primary | accent | warn
      },
      size: {
        type: String,
        default: 'md' // sm | md | lg
      }
    }
  }
</script>

<style lang="scss">
  .cn-button{
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background .15s $easeInOutQuad;

    // Theme
    &--primary{
      background: $t-primary;
      &:hover{
        background: darken($t-primary, 15%);
      }
    }
    &--accent{
      background: $t-accent;
      &:hover{
        background: darken($t-accent, 10%);
      }
    }
    &--warn{
      background: $t-warn;
      &:hover{
        background: darken($t-warn, 10%);
      }
    }

    // Size
    &--sm{
      padding: 12px 24px;
    }
    &--md{
      padding: 14px 16px;
    }
    &--lg{
      padding: 24px 48px;
    }

		@include grid-media($g-tablet-up) {
			// Size
			&--sm{
				padding: 12px 24px;
			}
			&--md{
				padding: 16px 32px;
			}
			&--lg{
				padding: 24px 48px;
			}
		}
  }
</style>
