<template>
  <component
    class="cn-text"
    :is="tag"
    :class="[
      `cn-text--${type}`,
      `cn-text--${theme}`,
      {
        'is-dark': dark,
        'is-bold': bold
      }
    ]"
  >
    <slot></slot>
  </component>
</template>

<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'body' // title | subhead | body | lead | caption | fixed
      },
      bold: {
        type: Boolean,
        default: false
      },
      dark: {
        type: Boolean,
        default: false
      },
      theme: {
        type: String,
        default: 'default' // default | primary | accent | warn
      }
    },

    computed: {
      tag() {
        switch (this.type) {
          case 'title':
            return 'h1'
          case 'body':
          case 'lead':
            return 'p'
          default:
            return 'span'
        }
      }
    }
  }
</script>

<style lang="scss">
  .cn-text{
    font-family: Roboto, Helvetica, Arial;

    // type
    &--title{
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: 1.5px;
    }
    &--subhead{
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: bold;
      line-height: 24px;
    }
    &--body{
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
    }
    &--lead{
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
    }
    &--caption{
      font-size: 9px;
      text-transform: uppercase;
      line-height: 12px;
      letter-spacing: 1.5px;
    }
    &--fixed{
      font-size: 10px;
      font-family: Courier;
      line-height: 12px;
			text-transform: uppercase;
			letter-spacing: .5px;
			font-weight: bold;
    }

    // Theme
    &--default{
      color: $c-black;
    }
    &--primary{
      color: $t-primary;
    }
    &--accent{
      color: $t-accent;
    }
    &--warn{
      color: $t-warn;
    }

    // States
    &.is-bold{
      font-weight: bold;
    }
    &.is-dark{
      color: white;
    }
  }
</style>
