<template>
  <div class="cn-products"
    :class="{
      'is-opened': opened
    }"
  >
    <header class="cn-products__header" @click="toggle">
      <cn-text class="cn-products__category" type="subhead">
        {{ category }}
      </cn-text>
      <span class="cn-products__arrow fas fa-angle-down">
      </span>
    </header>

    <div class="cn-products__wrapper">
      <div class="cn-products__body">
        <cn-product
          v-for="(product, index) in products"
          :key="index"
          :name="product.name"
          :price="product.price"
          :amount="getAmount(product.id)"
          @update:amount="onChange(product.id, $event)"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import CNText from '@/components/atoms/CNText'
  import CNProduct from '@/components/molecules/CNProduct'
  import { TweenMax, Power2 } from 'gsap/TweenMax'

  export default {
    components: {
      'cn-text': CNText,
      'cn-product': CNProduct
    },

    props: {
      value: {
        type: Object,
        default: () => ({})
      },
      category: {
        type: String,
        default: 'Comidas'
      },
      products: {
        type: Array,
        default: () => ([
          { id: 1 }, { id: 2 }, { id: 3 }, { id: 4 },
          { id: 5 }, { id: 6 }, { id: 7 }, { id: 8 },
          { id: 9 }, { id: 10 }
        ])
      },
      closed: {
        type: Boolean,
        default: false
      }
    },

    data: () => ({
      opened: true,
    }),

    watch: {
      opened(value) {
        const wrapper = this.$el.querySelector('.cn-products__wrapper'),
          body = wrapper.querySelector('.cn-products__body'),
          height = value ? body.clientHeight : 0

        TweenMax.to(wrapper, .5, {
          height,
          ease: Power2.easeInOut
        })
      }
    },

    mounted() {
      if (this.closed)
        this.opened = false
    },

    methods: {
      toggle() {
        this.opened = !this.opened
        this.$emit('toggle', this.opened)
      },

      getAmount(id) {
        return this.value[id]
      },

      onChange(id, amount) {
        this.$emit('input', {
          ...this.value,

          [id]: amount
        })
      }
    }
  }
</script>

<style lang="scss">
.cn-products{
  background: white;
  &__header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }
  &__wrapper{
    overflow: hidden;
  }
  &__arrow{
    transition: transform .4s $easeInOutQuad;
    transform: scaleY(-1);
    margin-right: 8px;
    color: $c-black;
  }

  &.is-opened{
    .cn-products{
      &__arrow{
        transform: scaleY(1);
      }
    }
  }
}
</style>