<template>
  <div class="cn-product"
    :class="{
      'is-dark': dark
    }"
  >
    <div class="cn-product__detail cn-product__column">
      <cn-text class="cn-product__name" type="body" :bold="true" :dark="dark">
        {{ name }}
      </cn-text>
      <cn-text class="cn-product__price" type="body" :bold="true" :dark="dark">
        {{ price|currency }}
      </cn-text>
    </div>

    <div class="cn-product__controller cn-product__column">
      <cn-button-icon class="cn-product__minus"
        icon="fas fa-minus"
        theme="warn"
        size="sm"
        @click="decrease"
      />
      <cn-text class="cn-product__amount" type="subhead" :dark="dark">
        {{ amount }}
      </cn-text>
      <cn-button-icon class="cn-product__plus"
        icon="fas fa-plus"
        theme="primary"
        size="sm"
        @click="increase"
      />
    </div>
  </div>
</template>

<script>
  import CNText from '@/components/atoms/CNText'
  import CNButtonIcon from '@/components/atoms/CNButtonIcon'
  import currency from '@/filters/currency'

  export default {
    components: {
      'cn-text': CNText,
      'cn-button-icon': CNButtonIcon
    },

    filters: {
      currency
    },

    props: {
      name: {
        type: String,
        default: 'Lorem ipsum sit amet'
      },
      price: {
        type: Number,
        default: 48.50
      },
      amount: {
        type: Number,
        default: 0
      },
    },

    computed: {
      dark() {
        return this.amount > 0
      },
    },

    methods: {
      increase() {
        this.$emit('update:amount', this.amount + 1)
      },

      decrease() {
        if (this.amount - 1 >= 0)
          this.$emit('update:amount', this.amount - 1)
      },
    }
  }
</script>

<style lang="scss">
.cn-product{
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  background: white;
  padding: 0 8px;
  border-top: 1px solid #E5E5E5;
  transition: background .15s $easeInOutQuad,
    border .15s $easeInOutQuad;
  &__name,
  &__price{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color .15s $easeInOutQuad;
  }
  &__column{
  }
  &__detail{
    margin-right: 8px;
    flex: 1;
    overflow: hidden;
  }
  &__controller{
    flex-shrink: 0;
    display: flex;
    width: 112px;
    height: 100%;
    align-items: center;
  }
  &__amount{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    height: 100%;
    margin: 0 8px;
    flex: 1;
    transition: background .15s $easeInOutQuad;
  }

  &.is-dark{
    background: $c-black;
    border-color: #2F3250;
    .cn-product{
      &__amount{
        background: #4E4D62;
      }
    }
  }
}
</style>