<template>
  <cn-dialog
    class="cn-order"
    :title="title"
		@confirm="onConfirm"
		@close="$emit('close', $event)"
  >
    <div class="cn-order__products">
      <cn-products class="cn-order__groups"
        v-for="(products, category) in groups"
        :key="category"
        :category="category"
        :products="products"
        v-model="selected"
      />
    </div>

    <footer class="cn-order__footer">
      <cn-text type="subhead">
        {{ table.name }}
      </cn-text>

      <div class="cn-order__summary">
        <cn-text class="cn-order__label" type="caption" :bold="true">
          Total
        </cn-text>
        <cn-text class="cn-order__partial" type="subhead" theme="accent">
          {{ partial|currency }}
        </cn-text>
        <cn-text class="cn-order__total" type="caption">
          {{ total|currency }}
        </cn-text>
      </div>
    </footer>
  </cn-dialog>
</template>

<script>
import CNDialog from '@/components/molecules/CNDialog'
import CNProducts from '@/components/organisms/CNProducts'
import CNText from '@/components/atoms/CNText'
import currency from '@/filters/currency'
import { disableBodyScroll } from 'body-scroll-lock'

export default {
	components: {
		'cn-dialog': CNDialog,
		'cn-products': CNProducts,
		'cn-text': CNText,
	},

	filters: {
		currency
	},

	props: {
		title: {
			type: String,
			default: 'Novo pedido'
		},
		table: {
			type: Object,
			default: () => ({
				name: 'Mesa 1',
				debit: 20
			})
		},
		products: {
			type: Array,
			default: () => ([
				{ id: 1, category: 'Comidas', price: 30 },
				{ id: 2, category: 'Comidas', price: 10 },
				{ id: 3, category: 'Comidas', price: 5 },
				{ id: 4, category: 'Comidas', price: 12 },
				{ id: 5, category: 'Comidas', price: 3 },
				{ id: 6, category: 'Comidas', price: 2.5 },
				{ id: 7, category: 'Bebidas', price: 10 },
				{ id: 8, category: 'Bebidas', price: 5.6 },
				{ id: 9, category: 'Bebidas', price: 9 },
				{ id: 10, category: 'Bebidas', price: 12 },
				{ id: 11, category: 'Bebidas', price: 24 },
				{ id: 12, category: 'Bebidas', price: 10 },
				{ id: 13, category: 'Bebidas', price: 15 },
			])
		}
	},

	computed: {
		categories() {
			let categories = []

			this.products.forEach(product => {
				if (!categories.includes(product.category)) {
					categories.push(product.category)
				}
			})

			return categories
		},

		groups() {
			let groups = {}

			// Organize groups
			this.categories.forEach(category =>
				// Filter products
				groups[category] = this.products.filter(
					product => product.category == category
				)
			)

			return groups
		},

		partial() {
			let value = 0

			for (let id in this.selected) {
				let amount = this.selected[id],
					product = this.products.find(
						current => current.id == id
					)

				if (product)
					value += product.price * amount
			}

			return value
		},

		total() {
			return this.partial + this.table.debit
		}
	},

	data: () => ({
		orders: [],
		selected: {}
	}),

	methods: {
		onConfirm(event) {
			this.$emit('confirm', this.selected)
		}
	},

	mounted() {
		// Prevent smartphone from sliding the entire viewport
		disableBodyScroll(this.$el.querySelector('.cn-order__products'))
	}
}
</script>

<style lang="scss">
.cn-order{
	.cn-modal{
		&__container{
			height: 100%;
		}
	}
  .cn-dialog{
    &__body{
      display: flex;
      flex-flow: column;
    }
  }
  &__products{
    flex: 1;
		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
    &:after{
      content: "";
      position: absolute;
      linear-gradient: to top, rgba(white, 1) 0%, rgba(white, 0) 100%;
    }
  }
  &__groups{
    margin-bottom: 8px;
  }
  &__footer{
    flex-shrink: 0;
    display: flex;
    align-items: center;
		margin-top: 16px;
  }
  &__summary{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    flex: 1;
  }
}
</style>
