<template>
  <div class="cn-modal" @click="onClick">
    <div class="cn-modal__container" @click.stop>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
		methods: {
			onClick(event) {
				this.$emit('close', event)
			}
		}
  }
</script>

<style lang="scss">
  .cn-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, .6);
    z-index: 200;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
      width: 100%;
      background: white;
      border-radius: 16px;
      padding: 16px;
      box-sizing: border-box;
    }

    @include grid-media($g-tablet-up){
      .cn-modal{
        &__container{
          width: 400px;
        }
      }
    }
  }
</style>
