<template>
  <cn-modal class="cn-dialog"
		@close="$emit('close', $event)"
	>
    <header class="cn-dialog__header">
      <cn-text type="title">
        {{ title }}
      </cn-text>
    </header>

    <div class="cn-dialog__body">
      <slot></slot>
    </div>

    <footer class="cn-dialog__footer">
      <cn-button class="cn-dialog__action" theme="warn" @click="$emit('close')">
        {{ cancel }}
      </cn-button>
      <cn-button class="cn-dialog__action" theme="accent" @click="$emit('confirm')">
        {{ confirm }}
      </cn-button>
    </footer>
  </cn-modal>
</template>

<script>
  import CNModal from '@/components/atoms/CNModal'
  import CNText from '@/components/atoms/CNText'
  import CNButton from '@/components/atoms/CNButton'

  export default {
    components: {
      'cn-modal': CNModal,
      'cn-text': CNText,
      'cn-button': CNButton
    },

    props: {
      title: {
        type: String,
        default: 'Lorem ipsum sit amet'
      },
      cancel: {
        type: String,
        default: 'Cancelar'
      },
      confirm: {
        type: String,
        default: 'Confirmar'
      }
    }
  }
</script>

<style lang="scss">
.cn-dialog{
  .cn-modal{
    &__container{
      display: flex;
      flex-flow: column;
    }
  }
  &__header{
    flex-shrink: 0;
    text-align: center;
		margin-top: 8px;
    margin-bottom: 24px;
  }
  &__body{
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  &__footer{
    margin-top: 16px;
    flex-shrink: 0;
    display: flex;
  }
  &__action{
    margin: 0 8px;
    flex: 1;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
</style>
