<template>
  <div class="cn-tables">
    <template
      v-for="(table, index) in value"
    >
      <cn-table
        class="cn-tables__table"
        :key="index"
        :name="table.name"
        :opened="table.opened"
        :debit="table.debit"
        @click="onTableClick(table)"
        @add="onTableClick(table)"
        @pay="onTablePay(table)"
      />
      <span class="cn-tables__break" />
    </template>
  </div>
</template>

<script>
import CNTable from '@/components/molecules/CNTable'
import { TweenMax, Power2 } from 'gsap/TweenMax'

export default {
	components: {
		'cn-table': CNTable
	},

	props: {
		value: {
			type: Array,
			default: () => ([
				{}, {}, {}, {}, { opened: new Date() },
				{}, {}, {}, {}, { opened: new Date() },
				{}, {}, {}, {}, { opened: new Date() },
				{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}
			])
		}
	},

	methods: {
		onTableClick(table) {
			this.$emit('order', table)
		},
		onTablePay(table) {
			this.$emit('pay', table)
		}
	},

	mounted() {
		TweenMax.staggerFrom(this.$el.querySelectorAll('.cn-tables__table'), 1.5, {
			rotation: -90,
			scale: 0,
			opacity: 0,
			ease: Power2.easeInOut
		}, .05)
	}
}
</script>

<style lang="scss">
.cn-tables{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  &__break{
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
    &:nth-of-type(2),
    &:nth-of-type(5),
    &:nth-of-type(7),
    &:nth-of-type(10),
    &:nth-of-type(12),
    &:nth-of-type(15),
    &:nth-of-type(17),
    &:nth-of-type(20),
    &:nth-of-type(22),
    &:nth-of-type(25),
    &:nth-of-type(27){
      display: block;
    }
  }
  &__table{
    margin: 8px;
		&.is-active{
			z-index: 30;
		}
  }

  @include grid-media($g-tablet-up) {
    .cn-tables{
      &__break{
        display: none;
        &:nth-of-type(4),
        &:nth-of-type(9),
        &:nth-of-type(13),
        &:nth-of-type(18),
        &:nth-of-type(22),
        &:nth-of-type(27),
        &:nth-of-type(32){
          display: block;
        }
      }
    }
  }

	@include grid-media($g-desktop-up) {
		transform: scale(1.2);
	}
}
</style>
