// Avenir
@font-face {
  font-family: "Avenir";
  src:url("~@/assets/fonts/AvenirLTStd-Medium.eot");
  src:url("~@/assets/fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/AvenirLTStd-Medium.woff") format("woff"),
    url("~@/assets/fonts/AvenirLTStd-Medium.woff2") format("woff2"),
    url("~@/assets/fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src:url("~@/assets/fonts/AvenirLTStd-Black.eot");
  src:url("~@/assets/fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/AvenirLTStd-Black.woff") format("woff"),
    url("~@/assets/fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("~@/assets/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: bold;
  font-style: normal;
}
