// Fade
.modal-enter-active,
.modal-leave-active{
	transition: .4s $easeInOutQuad;
	.cn-modal{
		&__container{
			transition: .4s $easeInOutQuad;
		}
	}
}

.modal-enter,
.modal-leave-active{
	opacity: 0;
	.cn-modal{
		&__container{
			transform: translateY(100%);
		}
	}
}
