<template>
	<div class="cn-ticket">
		<table class="cn-ticket__table">
			<thead>
				<tr>
					<th>
						<cn-text type="fixed">
							Pedido
						</cn-text>
					</th>
					<th>
						<cn-text type="fixed">
							Horário
						</cn-text>
					</th>
					<th>
						<cn-text type="fixed">
							Unidade
						</cn-text>
					</th>
					<th>
						<cn-text type="fixed">
							Valor
						</cn-text>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr
					v-for="(order, index) in orders"
					:key="`order-${index}`"
				>
					<td>
						<cn-text type="fixed">
							{{ order.product.name }} {{ order.amount }}x
						</cn-text>
					</td>
					<td>
						<cn-text type="fixed">
							{{ order.created_at|time }}
						</cn-text>
					</td>
					<td>
						<cn-text type="fixed">
							{{ order.product.price|currency }}
						</cn-text>
					</td>
					<td>
						<cn-text type="fixed">
							{{ (order.product.price * order.amount)|currency }}
						</cn-text>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="cn-ticket__table">
			<thead>
				<tr>
					<th>
						<cn-text type="fixed">
							Total Parcial
						</cn-text>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<cn-text type="fixed">
							{{ total|currency }}
						</cn-text>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="cn-ticket__table" v-if="payments.length > 0">
			<thead>
				<tr>
					<th>
						<cn-text type="fixed">
							Data
						</cn-text>
					</th>
					<th>
						<cn-text type="fixed">
							Pagamentos
						</cn-text>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr
					v-for="(payment, index) in payments"
					:key="`payment-${index}`"
				>
					<td>
						<cn-text type="fixed">
							{{ payment.created_at|dateTime }}
						</cn-text>
					</td>
					<td>
						<cn-text type="fixed">
							-{{ payment.value|currency }}
						</cn-text>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="cn-ticket__table" v-if="payments.length > 0">
			<thead>
				<tr>
					<th>
						<cn-text type="fixed">
							Total Restante
						</cn-text>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<cn-text type="fixed">
							{{ debit|currency }}
						</cn-text>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import CNText from '@/components/atoms/CNText'
import currency from '@/filters/currency'
import time from '@/filters/time'
import dateTime from '@/filters/dateTime'

export default {
	filters: {
		currency,
		time,
		dateTime
	},

	components: {
		'cn-text': CNText
	},

	props: {
		debit: {
			type: String|Number,
			default: 0
		},
		orders: {
			type: Array,
			default: () => ([
				{
					total: 35,
					amount: 7,
					created_at: new Date(),
					product: {
						name: 'omg',
						price: 5
					}
				},
				{
					total: 30,
					amount: 3,
					created_at: new Date(),
					product: {
						name: 'Batata Frita',
						price: 10
					}
				}
			])
		},
		payments: {
			type: Array,
			default: () => ([
				{
					value: 15,
					created_at: new Date()
				},
				{
					value: 45,
					created_at: new Date()
				},
				{
					value: 10,
					created_at: new Date()
				}
			])
		}
	},

	computed: {
		payed() {
			const add = (a, b) => a + b

			if (this.payments.length == 0)
				return 0 

			return this.payments
				.map(payment => payment.value)
				.reduce(add)
		},

		total() {
			const add = (a, b) => a + b

			if (this.orders.length == 0)
				return 0 

			return this.orders
				.map(order => order.total)
				.reduce(add)
		}
	}
}
</script>

<style lang="scss">
.cn-ticket{
	background: #FFF4E2;
	padding: 16px;
	&__table{
		width: 100%;
		text-align: left;
		margin-bottom: 8px;
		padding-bottom: 8px;
		border-bottom: 1px dashed $c-black;
		th, td{
			vertical-align: top;
			&:last-child{
				text-align: right;
			}
		}
		&:last-child{
			margin-bottom: 0;
			border: 0;
			padding-bottom: 0;
		}
	}
	&__unit{
		display: none;
	}

	@include grid-media($g-tablet-up) {
		.cn-ticket{
			&__unit{
				display: block;
			}
		}
	}
}
</style>
