<template>
	<div class="cn-toolbar"
		:class="[
			`cn-toolbar--${theme}`
		]"
	>
		<cn-text class="cn-toolbar__summary" type="subhead" :dark="true">
			{{ title }}
		</cn-text>

		<div class="cn-toolbar__calendar">
			<cn-text type="body" :dark="true" :bold="true">
				{{ date|day }}
			</cn-text>
			<cn-text type="lead" :dark="true" :bold="true">
				{{ date|time }}
			</cn-text>
		</div>

		<div class="cn-toolbar__summary">
			<cn-text type="subhead" :dark="true">
				{{ received|currency }}
			</cn-text>
			<cn-text type="caption" :dark="true" :bold="true">
				Entrada
			</cn-text>
		</div>
	</div>
</template>

<script>
import CNText from '@/components/atoms/CNText'
import day from '@/filters/day'
import time from '@/filters/time'
import currency from '@/filters/currency'

export default {
	components: {
		'cn-text': CNText
	},

	filters: {
		day,
		time,
		currency
	},

	props: {
		theme: {
			type: String,
			default: 'primary' // primary | accent | warn
		},
		title: {
			type: String,
			default: 'Título'
		},
		received: {
			type: Number,
			default: 300
		}
	},

	data: () => ({
		date: new Date()
	})
}
</script>

<style lang="scss">
.cn-toolbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	box-sizing: border-box;
	box-shadow: 0 2px 8px rgba(black, .4);
	&__title{
	}
	&__calendar{
		display: none;
		text-align: center;
		> * {
			line-height: 140%;
		}
	}
	&__summary{
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	&--primary{
		background: $t-primary;
	}
	&--accent{
		background: $t-accent;
	}
	&--warn{
		background: $t-warn;
	}

	@include grid-media($g-tablet-up) {
		.cn-toolbar{
			&__calendar{
				display: block;
			}
		}
	}
}
</style>
