<template>
  <button class="cn-button-icon"
    :class="[
      `cn-button-icon--${theme}`,
      `cn-button-icon--${size}`
    ]"
    @click="$emit('click', $event)"
  >
    <span class="cn-button-icon__icon"
      :class="[
        icon
      ]"
    >
    </span>
  </button>
</template>

<script>
  export default {
    props: {
      icon: {
        type: String,
        default: 'fas fa-plus'
      },
      theme: {
        type: String,
        default: 'primary' // primary | accent | warn
      },
      size: {
        type: String,
        default: 'md' // sm | md | lg
      }
    }
  }
</script>

<style lang="scss">
  .cn-button-icon{
    border-radius: 90px;
    border: 0;
    cursor: pointer;
    outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
    transition: background .15s $easeInOutQuad;
    &__icon{
      color: white;
    }

    // Theme
    &--primary{
      background: $t-primary;
      &:hover{
        background: darken($t-primary, 15%);
      }
    }
    &--accent{
      background: $t-accent;
      &:hover{
        background: darken($t-accent, 10%);
      }
    }
    &--warn{
      background: $t-warn;
      &:hover{
        background: darken($t-warn, 10%);
      }
    }

    // Size
    &--sm{
      width: 24px;
      height: 24px;
      .cn-button-icon{
        &__icon{
          font-size: 12px;
        }
      }
    }
    &--md{
      width: 32px;
      height: 32px;
      .cn-button-icon{
        &__icon{
          font-size: 14px;
        }
      }
    }
    &--lg{
      width: 40px;
      height: 40px;
      .cn-button-icon{
        &__icon{
          font-size: 16px;
        }
      }
    }
  }
</style>
