<template>
	<label class="cn-input-number"
		:class="{
			'is-focused': focused
		}"
	>
		<cn-text class="cn-input-number__label" type="subhead">
			{{ label }}
		</cn-text>

		<imask-input
			class="cn-input-number__field cn-text cn-text--subhead"
			v-model="formated"
			:placeholder="placeholder"
			:radis="radix"
			:thousandsSeparator="separator"
			:mask="Number"
			:min="min"
			:max="max"
			:unmask="true"
			@accept="onAccept"
			@focus="focused = true"
			@blur="focused = false"
		/>
	</label>
</template>

<script>
import CNText from '@/components/atoms/CNText'
import { IMaskComponent } from 'vue-imask'

export default {
	components: {
		'cn-text': CNText,
		'imask-input': IMaskComponent
	},

	props: {
		value: {
			type: String|Number,
			default: ''
		},
		label: {
			type: String,
			default: 'R$'
		},
		radix: {
			type: String,
			default: '.'
		},
		separator: {
			type: String,
			default: '.'
		},
		placeholder: {
			type: String,
			default: '0.00'
		},
		min: {
			type: Number,
			default: undefined
		},
		max: {
			type: Number,
			default: undefined
		}
	},

	data: () => ({
		formated: null,
		focused: false
	}),

	mounted() {
		this.formated = `${this.value}`
	},

	methods: {
		onAccept(value) {
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.cn-input-number{
	display: flex;
	align-items: center;
	&__label{
	}
	&__field{
		width: 100%;
		background: #EFEFEF;
		padding: 12px;
		margin-left: 16px;
		text-align: center;
		color: $c-black;
		outline: none;
		border: 0;
		transition: .2s $easeInOutQuad;
		border-bottom: 2px solid #C4C4C4;
	}

	&.is-focused{
		.cn-input-number{
			&__field{
				color: white;
				background: $c-black;
				border-color: #2F3250;
			}
		}
	}
}
</style>
