<template>
  <cn-dialog
    class="cn-payment"
    :title="title"
		confirm="Pagar"
		@confirm="onConfirm"
		@close="$emit('close', $event)"
  >
		<cn-ticket
			:orders="table.orders"
			:payments="table.payments"
			:debit="table.debit"
			class="cn-payment__ticket"
		/>

		<footer class="cn-payment__footer">
			<cn-text class="cn-payment__table" type="subhead">
				{{ table.name }}
			</cn-text>

			<cn-input-number
				class="cn-payment__value"
				:value="table.debit.toFixed(2)"
				:max="table.debit"
				@input="total = $event"
			/>
		</footer>
  </cn-dialog>
</template>

<script>
import CNDialog from '@/components/molecules/CNDialog'
import CNTicket from '@/components/molecules/CNTicket'
import CNText from '@/components/atoms/CNText'
import CNInputNumber from '@/components/molecules/CNInputNumber'
import currency from '@/filters/currency'
import { disableBodyScroll } from 'body-scroll-lock'

export default {
	components: {
		'cn-dialog': CNDialog,
		'cn-ticket': CNTicket,
		'cn-text': CNText,
		'cn-input-number': CNInputNumber
	},

	filters: {
		currency
	},

	props: {
		title: {
			type: String,
			default: 'Novo pagamento'
		},
		table: {
			type: Object,
			default: () => ({
				name: 'Mesa 1',
				debit: 86
			})
		}
	},

	data: () => ({
		total: 0
	}),

	mounted() {
		this.total = this.table.debit

		// Prevent smartphone from sliding the entire viewport
		disableBodyScroll(this.$el.querySelector('.cn-payment__ticket'))
	},

	methods: {
		onConfirm() {
			this.$emit('confirm', this.total)
		}
	}
}
</script>

<style lang="scss">
.cn-payment{
	.cn-modal{
		&__container{
			height: 100%;
		}
	}
  .cn-dialog{
    &__body{
      display: flex;
      flex-flow: column;
    }
  }
	&__ticket{
		flex: 1;
		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	&__footer{
		margin-top: 16px;
		display: flex;
		align-items: center;
	}
	&__table{
		flex: 1;
		display: flex;
	}
	&__value{
		width: 48%;
		display: flex;
	}
}
</style>
