<template>
  <div class="cn-table"
    :class="{
      'cn-table--accent': !opened,
      'cn-table--warn': opened,
      'is-active': active && opened
    }"
    @click="onClick"
  >
		<div class="cn-table__wrapper">
			<cn-text class="cn-table__time"
				v-if="opened"
				type="caption"
				:dark="true"
			>
				{{ opened|time }}
			</cn-text>

			<cn-text class="cn-table__label"
				type="lead"
				:bold="true"
				:dark="true"
			>
				<span v-if="!opened">
					Abrir
				</span>
				<span v-else>
					{{ debit|currency }}
				</span>
			</cn-text>

			<cn-button-icon class="cn-table__action cn-table__action--add"
				icon="fas fa-plus"
				@click.stop="$emit('add', $event)"
			/>
			<cn-button-icon class="cn-table__action cn-table__action--pay"
				icon="fas fa-dollar-sign"
				theme="accent"
				@click.stop="$emit('pay', $event)"
			/>

			<cn-text class="cn-table__name" type="caption" :bold="true" :dark="true">
				{{ name }}
			</cn-text>
		</div>
  </div>
</template>

<script>
  import CNText from '@/components/atoms/CNText'
  import CNButtonIcon from '@/components/atoms/CNButtonIcon'
  import currency from '@/filters/currency'
  import time from '@/filters/time'

  export default {
    components: {
      'cn-text': CNText,
      'cn-button-icon': CNButtonIcon
    },

    filters: {
      currency,
			time
    },

    props: {
      name: {
        type: String,
        default: 'Mesa 1'
      },
      opened: {
        type: Date,
        default: null
      },
      debit: {
        type: Number|String,
        default: 63.50
      }
    },

    mounted() {
      document.addEventListener('click', this.onBlur)
    },

    destroyed() {
      document.removeEventListener('click', this.onBlur)
    },

    data: () => ({
      active: false
    }),

    methods: {
      onClick(event) {
        this.active = !this.active

				if (!this.opened)
					this.$emit('click', event)
      },

      onBlur(event) {
        if (this.$el.contains(event.target))
          return

        this.active = false
      }
    }
  }
</script>

<style lang="scss">
.cn-table{
	position: relative;
	z-index: 10;
	&__wrapper{
		position: relative;
		width: 80px;
		height: 80px;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: background .2s $easeInOutQuad,
			transform .3s $easeOutBack;
	}
  &__label{
		white-space: nowrap;
  }
  &__time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + -14px));
    white-space: nowrap;
  }
  &__name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 16px));
    white-space: nowrap;
  }
  &__action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-360deg) scale(.2);
    transition: all .3s $easeInOutQuad;
    opacity: 0;
    visibility: hidden;
  }

  &--primary{
		.cn-table{
			&__wrapper{
				background: $t-primary;
				&:hover{
					background: darken($t-primary, 15%);
				}
			}
		}
  }
  &--accent{
		.cn-table{
			&__wrapper{
				background: $t-accent;
				&:hover{
					background: darken($t-accent, 10%);
				}
			}
		}
  }
  &--warn{
		.cn-table{
			&__wrapper{
				background: $t-warn;
				&:hover{
					background: darken($t-warn, 10%);
				}
			}
		}
  }

  @include grid-media($g-tablet-up) {
		.cn-table{
			&__wrapper{
				width: 100px;
				height: 100px;
			}
			&__time{
				transform: translate(-50%, calc(-50% + -16px));
			}
		}
  }

  &.is-active{
    .cn-table{
			&__wrapper{
				transform: scale(1.4);
				box-shadow: 8px 8px 16px rgba(black, .1);
			}
      &__action{
        opacity: 1;
        visibility: visible;
        box-shadow: 8px 8px 16px rgba(black, .1);
        &--add{
          transform: translate(-50%, calc(-50% + 44px)) rotate(0deg) scale(1);
        }
        &--pay{
          transform: translate(calc(-50% + 44px), calc(-50% + 24px)) rotate(0deg) scale(1);
        }
      }
    }
  }
}
</style>
