<template>
  <div id="app" class="cn-app">
		<cn-toolbar class="cn-app__toolbar"
			title="Olá, John Doe!"
			:received="received"
		/>

		<div class="cn-app__body">
			<cn-tables class="cn-app__tables"
				v-if="tables.length > 0"
				:value="tables"
				@order="onTableOrder"
				@pay="onTablePayment"
			/>
		</div>

		<transition name="modal">
			<cn-order v-if="ordering"
				:table="table"
				:products="products"
				@confirm="onPurchase"
				@close="ordering = false"
			/>
		</transition>

		<transition name="modal">
			<cn-payment v-if="paying"
				:table="table"
				@confirm="onCheckout"
				@close="paying = false"
			/>
		</transition>
  </div>
</template>

<script>
import CNToolbar from '@/components/molecules/CNToolbar'
import CNTables from '@/components/organisms/CNTables'
import CNOrder from '@/components/templates/CNOrder'
import CNPayment from '@/components/templates/CNPayment'
import { tables, products } from '@/storeModules/data-mock'
import { disableBodyScroll } from 'body-scroll-lock'
import { mapGetters } from 'vuex'

export default {
	components: {
		'cn-toolbar': CNToolbar,
		'cn-tables': CNTables,
		'cn-order': CNOrder,
		'cn-payment': CNPayment,
	},

	computed: {
		...mapGetters({
			orders: 'order/getOrders',
			products: 'product/getProducts',
			tables: 'table/getTables',
			table: 'table/getSelected'
		}),

		received() {
			const add = (a, b) => a + b

			if (this.orders.length == 0)
				return 0

			return this.orders
				.map(order => order.total)
				.reduce(add)
		}
	},

	data: () => ({
		initialized: false,
		ordering: false,
		paying: false
	}),

	mounted() {
		// Initialize modules
		this.$store.dispatch('init', {
			tables: tables,
			products: products
		})
			.then(() => this.initialized = true)

		// Prevent smartphone from sliding the entire viewport
		disableBodyScroll(this.$el.querySelector('.cn-app__body'))
	},

	methods: {
		onTableOrder(table) {
			this.$store.commit('table/select', table)
			this.ordering = true
		},

		onTablePayment(table) {
			this.$store.commit('table/select', table)
			this.paying = true
		},

		onPurchase(products) {
			this.ordering = false
			this.$store.dispatch('table/purchase', products)
		},

		onCheckout(value) {
			this.paying = false
			this.$store.dispatch('table/pay', value)
		}
	}
}
</script>

<style lang="scss">
body, html{
	height: 100%;
}

.cn-app{
	display: flex;
	flex-flow: column;
	height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	&__toolbar{
		flex-shrink: 0;
		position: relative;
		z-index: 20;
	}
	&__body{
		position: relative;
		flex: 1;
		display: flex;
		background: $c-darkpurple;
		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}

	@include grid-media($g-tablet-up) {
		.cn-app{
			&__body{
				align-items: center;
        justify-content: center;
			}
		}
	}
}
</style>
